/* Color Variables */
:root {
    --primary-color: #CCA7DB; /** Light Purple */
    --secondary-color: #aa75c0; /** Darker Purple */
    --background-color: #C7D9E3; /** Light Blue */
    --main-text-background-opacity: #E3ECF1; /**Lighter Blue than C7D9E3 */
}

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border: var(--secondary-color) 2px solid;
}

.dongle-regular {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
  }  

.website-title {
    margin-bottom: -10px;
    display: flex;
    text-decoration: none;
}

.montserrat-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1{
    text-decoration: underline;
}

h2,h3,h5,p,a,li{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.btn-primary { 
    color: black;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    min-width: 85px;
    border: var(--secondary-color) 2px solid;
}

.logo-image{
    border: var(--secondary-color) 2px solid;
}

main {
    margin-top: 70px;
    margin-bottom: 60px;
}

#quote-title {
    margin: 0 auto;
}

.quote-box {
    border: white 2px solid ; 
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-image: url('../images/grass.png');
    background-size: cover;
    background-position: center;
    color: black;
}

.quote-white-transpartent-underlay {
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.title-box-padding{
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0 auto;
}

.content-box {
    color:black;
    padding: 20px;
    text-align: center;
    background-color: var(--main-text-background-opacity);
}

.alltitleboxes{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color:var(--secondary-color);
    text-shadow: black 0.5px 0.5px 0.5px;
    background-color: white;

    padding: 20px;
    text-align: center;
    margin: 0 auto; 
    
}
.card {
    background-color: var(--main-text-background-opacity);
    width: 300px;
    height: 350px;
    margin: 0 auto;
}

.card-body {
    padding: 2px;
    display: flex;
    flex-direction: column;
    margin:5px;
}

.card-title{
    text-align: center;
}

#carouselExampleControls {
    padding: 10px;
    margin: 0 auto;
}

.carousel-indicators{
    margin-bottom: 1px;
    display: flex;
    justify-content: space-evenly;
}

.card-img-top{
    margin-top: 10px;
    margin-inline: auto;
    max-height: 260px;
    max-width: 260px;
    border-radius: 20px;

}

.card-constant-size{
    width: 300px;
    height: 170px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-text{
    padding-top: 3px;
    text-align: center;
}

/** Contact Us Page */

#contact-us-title{
    padding-top: 10px;
    padding-bottom: 10px;
}

#helpful-resources-title{
    padding-top: 20px;
    padding-bottom: 10px;
}

#mental-health-title{
    width: 96%;
    margin: 0 auto;
}

footer {
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    border: var(--secondary-color) 2px solid;
}

.footer-copyright {
    margin-bottom: 0px;
    
}

/* Small screens and up */
@media screen and (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

}


/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

}
