/* Color Variables */
:root {
    --primary-color: #91278F; /** Purple */
}

header {
    background-color: var(--primary-color);
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

.btn-primary { 
    color: black;
    background-color: var(--primary-color);
    border: none;
    display: flex;
}

main {
    margin-top: 50px;
    padding: 10px;
}

footer {
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Small screens and up */
@media screen and (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

}


/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

}
